<nav
  class="navbar navbar-expand-lg navbar-light bg-warning"
  style="margin-bottom: 20px"
>
  <a href="#" class="navbar-brand">DXC Tecnology</a>
  <div class="collpase navbar-collapse">
    <div class="navbar-nav">
      <a
        routerLinkActive="active"
        routerLink="/followers"
        [queryParams]="{ page: 2, order: 'oldest' }"
        class="nav-item nav-link"
      >
        Followers
      </a>
      <a
        routerLinkActive="active"
        routerLink="/posts"
        class="nav-item nav-link"
      >
        Posts
      </a>
    </div>
  </div>
</nav>
