<h1>Welcome to DXC Angular Training</h1>

<br />
<hr />
<!-- <my-component></my-component>
<br />
<hr />
<app-course></app-course> -->

<!-- <app-books></app-books> -->

<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding>
 -->

<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-icons></app-icons> -->
<!-- <favorite></favorite> -->

<app-tweet></app-tweet>
