<h1>Welcome to DXC Angular Training</h1>

<br />
<hr />
<!-- <my-component></my-component>
<br />
<hr />
<app-course></app-course> -->

<!-- <app-books></app-books> -->

<!-- <app-property-binding></app-property-binding> -->
<!-- <app-class-binding></app-class-binding>
 -->

<!-- <app-event-binding></app-event-binding> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-icons></app-icons> -->
<!-- <favorite></favorite> -->

<!-- <app-tweet></app-tweet> -->
<!-- <app-panel>
  <ng-container class="heading">Heading from somewhere</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some content here ...</p>
  </div>
</app-panel>
<br />
<app-panel>
  <div class="heading">Heading from somewhere</div>
  <div class="body">
    <h3>Logo</h3>
    <img src="http://shorturl.at/orJNZ" alt="" />
    <p>How awesome is this?</p>
  </div>
</app-panel> -->

<!-- <app-instagram-feed></app-instagram-feed> -->
<!-- <app-directive-if></app-directive-if> -->
<!-- <app-directice-switch></app-directice-switch> -->
<!-- <app-directive-for></app-directive-for> -->
<app-directive-for-track></app-directive-for-track>
