<div>
  <h4>ngFor Demo</h4>
  <br />
  <br />
  <button class="btn btn-warning" (click)="loadCourses()">Load</button>
  <br />
  <br />
  <button class="btn btn-info" (click)="onAdd()">Add</button>
  <ul>
    <li
      *ngFor="let course of courses; trackBy: trackCourse"
      style="margin-bottom: 10px"
    >
      {{ course.name }}
      &nbsp;
      <button class="btn btn-danger" (click)="onRemove(course)">Remove</button>
      &nbsp;
      <button class="btn btn-primary" (click)="onUpdate(course)">Update</button>
    </li>
  </ul>
</div>
